# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.nyc_output
/e2e/.auth/
/test-results/
/playwright-report/

# next.js
/.next/
/out/
.turbo

# production
/build
/dist

# misc
.DS_Store
*.pem
.env*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo
*~

.claude
.mcp.json