@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: 0 0% 3.9%;
			--foreground: 0 0% 98%;
		}
	}

	body {
		background: var(--background);
		color: var(--foreground);
		font-family: Arial, Helvetica, sans-serif;
	}
}
